.about-background {
    max-width: 1200px;
    min-height: 245dvh;
    /* FIXME: BACKGROUND SHOULD TAKE WHOLE CONTENT */
    margin: 0 auto;
    background: linear-gradient(-45deg, rgba(118,16,52,0.75), rgba(75,22,103,0.75));
}

.about {
    margin-top: 8rem;
    padding: 0 1em;
    display: flex;
    flex-direction: column-reverse;
}

.about__content--title h1 {
    margin: 1rem 0;
    
    font-size: 2rem;
}

/* .about__content--text p {
    margin: 1.5rem 0;
} */

.contact-me {
    margin-top: 2.5rem
}

.about__content--text p + p{
    margin-top: 1.5rem;
}

.about__content--social {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.about__content--text--links p {
    text-align: center;
}

/* .about__portrait--caption a { */
.about a {
    display: inline-block;
    /* margin: 1rem 0; */
    
    cursor: pointer;
}

.about a:focus,
.about a:hover {
    color: rgba(255, 255, 255, 0.6);
}

@media (min-width: 769px) {
    .about{
        padding: 0;

        flex-direction: row;
        justify-content: space-between;
        gap: 5rem
    }
    
    .about__content {
        width: 55%;
    }
    
    .about__portrait {
        width: 40%;
    }

    .about__content--title h1 {
        margin: -3rem 0 1rem 0;
        
        text-align: end;
        font-size: 3rem;
    }
    
    .about__content--text--links {
        margin-bottom: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .about-background {
        min-height: 115dvh;
    }
}

@media (max-height: 700px) and (max-width: 768px) {
    .about-background {
        min-height: 275dvh;
    }
} 

@media (min-height: 701px) and (max-width: 768px) {
    .about-background {
        min-height: 225dvh;
    }
} 
