.backdrop {
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.45);    
    backdrop-filter: blur(2.5px);
    width: 100vw;
    height: 100vh;
}

.join-modal {
    width: 90%;
    max-width: 650px;

    margin: 100px auto;
    padding: 1em;
    /* max-width: 95%; */
    
    font-family: var(--font-family-small-h);

    color: white;
    background: #15024d;
    background: url('../assets/images/ISP_BLACK_SEA_1873_Edit_225_300.jpg');
    background: linear-gradient(135deg,  rgba(28, 28, 158, 0.915), rgba(152, 12, 12, 0.915));
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: .7em;
    
    display: flex;
    flex-flow: column nowrap;
    row-gap: 2em;
    
    position: relative;
}

.close {
    position: absolute;
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
}

.form-logo>img {
    width: 80px
}

.title-logo{
    font-size: 2em;
}

.input-wrap {
    margin: 1.25rem 1rem;
    
    display: flex;
    flex-direction: column;
}

.modal-form > p {
    margin: 1.5em;
}

.input-wrap>input {
    padding: 1em;
    margin-bottom: 1em;
    
    font-family: var(--font-family-small-h);
    font-size: .8rem;
    
    border: none;
    border-radius: .5em;
    
    outline: none;
}

.textarea {
    height: 10vh;
    padding: 1em;

    color: #666666;
    background-color: #dddddd;
    
    font-size: 16px;
    font-family: var(--font-family-small-h);
    font-weight: 500;
    line-height: 1.4;
    
    border-radius: .5em;
    border: 2px solid transparent;
    outline: none;


    transition: all 0.2s;
}
  
.textarea:hover {
    cursor: pointer;
    background-color: #eeeeee;
}
  
.textarea:focus {
    cursor: text;
    color: #333333;
    background-color: white;
    border-color: #333333;
}


.btn-container {
    display: flex;
    justify-content: center;
}

.modal-form button {
    min-width: 50%;
    margin: 3em 0;
    padding: .6em 3em;
    
    text-align: center;
    
    font-size: 1.2em;
    font-family: var(--font-family-large-h);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.2px;


    color: white;
    background-color: transparent;
    border: 3px solid  white;
    border-radius: 100px;
    
    outline: none;
}

.modal-form button:hover {
    background-color:  rgba(250, 250, 250, 0.15);
}

.modal-form > p:last-of-type {
    text-align: center;
}

.inputFail {
    background-color: rgb(224, 141, 158);
}

.inputErr {
    margin-top: -1em;
}