@import './base.css';
@import './navbar.css';
@import './join.css';
@import './about.css';
@import 'flickity/css/flickity.css';

body {
  max-width: 100dvw;
  color: var(--vt-c-white-soft);
  background-color: var(--color-background-mute);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  
  font-weight: normal;
}

.app-container {
  position: relative; 
}

.container {
  max-width: 1080px;
  width: 90vw;
  margin: 0 auto;

  height: auto;
  min-height: 100dvh;
  /* height: 100dvh; */
  
  display: flex;
  flex-direction: column;
}

.container-main {
  margin-top: 1.5em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container-footer {
  margin: 1em 0;
  flex-shrink: 0;
  align-self: center;
}


/* #app{
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
} */


img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
  /* max-height: 40dvh; */
  object-fit: cover;
}

a {
  text-decoration: none;
  display: block;
  color: white;
  transition: 0.4s;
}

button {
  cursor: pointer;
}

.arrow-down{
  font-size: 2em;
}

.arrow-down:hover{
  color: rgba(255, 255, 255, 0.335);
}

p {
  font-family: var(--font-family-small-h);
  letter-spacing: .15rem;
}

h1 {
  font-size: 3.3rem;
  font-weight: 900;
  letter-spacing: .33rem;
  font-family: var(--font-family-large-h);
  font-style: italic;
  text-transform: uppercase;
  line-height: 1.2;
}

h1 + h1 {
  width: 75%;
  border-top: 2px solid white;
  
  /* font-family: var(--font-family-regular-h); */
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: .1rem;
}

h2 {
  margin-bottom: 1em;

  font-size: 2.25rem;
  font-size: 2.25rem;
  font-family: var(--font-family-large-h);
  
  /* line-height: 1.25; */
  line-height: 1;
}

br {
  display: inline-block;
  height: 12px;
  border-top: 2px solid white;
}




/*
****************
H E A D E R
****************

All properties set in navbar.css, included .header { position: relative }

*/



/*
****************
H E R O
****************
*/


.hero {
  min-height: 95vh;
  background-image: url('../assets/images/ISP_BLACK_SEA_1873_Edit_225_300.jpg');
  background-repeat: no-repeat;
  background-position: center; 
  /* background-size: 100%; */
} 

.hero--background {
  max-width: 1200px; 
  margin: 0 auto;
  /* background-color: rgba(120, 0, 20, 0.916); */
  background-color: rgba(5, 62, 39, 0.885);
  background: linear-gradient(-45deg, rgba(152, 12, 12, 0.76), rgba(28, 28, 158, 0.715));
  background: linear-gradient(-45deg, rgba(118,16,52,0.75), rgba(75,22,103,0.75));
  background-size: -400% ;
}

.hero__content--title {
  margin-top: 10dvh
  /* margin: 2vh 0; */
}

.hero__content--title p {
  margin-bottom: 1em;
  text-transform: uppercase;
  /* font-style: italic; */
}

.hero span {
  font-size: 1.5rem;
  text-transform: none;
}

.hero h2 {
  margin-top: 1em;
  margin-bottom: 0;

  font-family: var(--font-family-large-h);
  font-weight: 400;
  letter-spacing: .15rem;
}

.hero h2+h2:not(span) {
  text-transform: uppercase;
}


.hero__content--cta {
  margin-top: 10dvh;
  align-self: center;
}

.cta-btn {
  display: inline-block;
  padding: .6em 3em;
  
  font-size: 1.2em;
  font-family: var(--font-family-large-h);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1.2px;
  
  color: white;
  background-color: transparent;
  border: 3px solid  white;
  border-radius: 100px;
}

.cta-btn:hover {
  background-color:  rgba(250, 250, 250, 0.15);
}

.next-section {
  cursor: pointer;
  /* text-align: center; */
}


/*
****************
J O I N
****************
*/

.join {
  min-height: 95vh;

  background-image: url('../assets/images/ISP_NORVILISKES_282.jpg');
  background-repeat: no-repeat;
  background-position: center; 
}

.join--backgound {
  max-width: 1200px; 
  height: auto;
  margin: 0 auto;
  /* background-color: rgba(120, 0, 20, 0.916); */
  /* background: linear-gradient(180deg, rgba(229, 229, 229, 0.5), transparent, transparent); */
  background-color: rgba(229, 229, 229, 0.5);
  background-color: rgba(5, 62, 39, 0.885);
  background: linear-gradient(-45deg, rgba(152, 12, 12, 0.46), rgba(28, 28, 158, 0.45));
  background-size: 100%;
}

.join--title {
  text-align: center;
}
.join--title > h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.image-caption {
  /* padding: .5rem 0 0 1rem; */
  
  text-align: center;

  font-family: var(--font-family-large-h);
  font-size: 1.25rem;
  text-transform: capitalize;
}

/* span + span  {
  display: none;
} */

.details {
  margin-bottom: .5rem
}

.line{
  max-width: 700px;
  width: 65dvw;
  border-bottom: 2px solid white;
}

.join--sessions {
  /* margin: 3rem 0 4rem; */
  margin: 1rem 0;
}

.join--sessions  > p {
  font-family: var(--font-family-large-h);
  font-size: 1.25rem;
  font-weight: 400;
}

/* .join--price {
  margin-top: -1rem;
} */

.join--price p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  /* font-family: var(--font-family-large-h); */
  font-family: var(--font-family-regular-p);
  line-height: 1.2;
}

.join--price p span {  
  font-size: 2rem;
  font-weight: 900;
  font-family: var(--font-family-regular-p);
  
}




/*
****************
H E A D I N G
****************
*/

.heading {
  min-height: 95vh;
  
  color: white;
  text-align: center;
  
  background-image: url('../assets/images/ISP_BCN_NOCTAMBUL_254.jpg');
  background-repeat: no-repeat;
  background-position: center bottom; 
}

.heading-background {
  max-width: 1200px; 
  margin: 0 auto;
  /* background-color: rgba(120, 0, 20, 0.916); */
  /* background: linear-gradient(180deg, rgba(229, 229, 229, 0.5), transparent, transparent); */
  background-color: rgba(229, 229, 229, 0.5);
  
  background: linear-gradient(-45deg, rgba(152, 12, 12, 0.46), rgba(28, 28, 158, 0.45));
  background-size: 100%;
}


.heading .container-main {
  /* margin: 2em; */
  margin-top: 3em;
  gap: 2rem;
  
  font-size: 1.2em;
  font-family: var(--font-family-regular-p);
  letter-spacing: 2.15em;
  
  
}




/*
****************
S Y L L A B U S
****************
*/

.syllabus {
  min-height: 100vh;
}

.syllabus-background {
  max-width: 1200px; 
  min-height: 170vh;
  /* min-height: 100vh; */
  margin: 0 auto;
  background: linear-gradient(-45deg, rgba(152, 12, 12, 0.46), rgba(28, 28, 158, 0.45));
  background-size: 100%;
}


/* .syllabus .container {
  height: auto;
} */

.syllabus .container-main {
  gap: 4rem
}

.syllabus .container-footer {
  margin-top: 5dvh;
}

.syllabus img {
  margin-bottom: 1rem;
}





/*
**************
**************
**************

D E S K T O P

**************
**************
**************
*/



@media (min-width: 769px) {
  
  .join .container-main {
    padding: 0 5vw;
  }  
  
  .hero__content--title {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  
  .hero__content--cta {
    flex-grow: 2;
  }

  .join--title>h2 {
    font-size: 3rem;
    margin: 2rem 0
  }

  .join--sessions {
    margin: 4em 0;
  }

  .join--sessions > p {
    font-size: 2.2rem;
  }

  .join--price p{
    font-size: 2.1rem;
  }

  .join--price p span{
    font-size: 3rem;
  }

  .heading .container-main {
    padding: 4rem 10vw;
    gap: 8rem
  }

  .syllabus .container-main {
    flex-direction: column;  
    /* justify-content: space-between; */
    gap: 6rem
  }   
  
  .syllabus img,
  .syllabus p {
    width: 45%;
    margin: 0;
  }

  .syllabus br {
    display: none
  }
  
  .syllabus-background {
    min-height: 140dvh;
  }

  .syllabus--shooting-header,
  .syllabus--editing-header {  
    display: flex;
    align-items: center;
    margin: 2rem 0;
  }

  .syllabus--shooting-header p,
  .syllabus--editing-header p {  
    font-size: 1.2rem;

    width: auto;
  }

  .syllabus--shooting-header h2,
  .syllabus--editing-header h2 {  
    margin: 0 auto
  }

  .syllabus--shooting-content, 
  .syllabus--editing-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  
  .syllabus--editing-content {
    flex-direction: row-reverse;
  }
  
  .syllabus--shooting-content p,
  .syllabus--editing-content p {
    font-size: 1.5rem;
    font-family: var(--font-family-regular-p);
    letter-spacing: .15rem;
  }

}

@media (min-height: 701px) and (max-width: 450px) {
  .syllabus-background {
    min-height: 135dvh;
  }
}
