@import './base.css';


body {
  max-width: 100dvw;
  color: var(--vt-c-white-soft);
  background-color: var(--color-background-mute);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  /* max-width: 1280px; */
  margin: 0 auto;
  
  font-weight: normal;
}

.app-container {
  padding: 1rem 2rem;
  padding: 2vh 10vw;
  min-height: 100vh;
  
  /* background: url('../assets/images/ISP_BLACK_SEA_1873_Edit_225_300.jpg'); */
  /* background-repeat: no-repeat;
  background-size: 100%;
  background-color: rgb(49, 49, 49);
  background-blend-mode: multiply; */
  
  /* background-position: center;  */
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  display: block;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

h1 {
  /* margin: .5em 0; */
  text-transform: uppercase;
  line-height: 1.15;
}

h1 + h1 {
  border-top: 2px solid white;
}

br {
  display: inline-block;
  height: 12px;
  border-top: 2px solid white;
}

.hero__content {
  /* margin: 25vh 0; */
  min-height: 95vh;
  text-transform: capitalize;
  background: url('../assets/images/ISP_BLACK_SEA_1873_Edit_225_300.jpg');
} 

.hero__content--title {
  /* margin-top: 15rem 0; */
  margin: 2vh 0;
}

.hero__content--cta {
  margin-top: 5vh;
}

.link-down {
  cursor: pointer;
}

.join {
  /* margin: 25vh 0; */
  min-height: 95vh;
  text-transform: capitalize;
  background: url('../assets/images/ISP_BCN_NOCTAMBUL_254.jpg');
}

.syllabus {
  /* margin: 25vh 0; */
  min-height: 95vh;
  text-transform: capitalize;
  background: url('../assets/images/ISP_NORVILISKES_112.jpg');
}

@media (hover: hover) {
  a:hover {
    color:rgb(30, 30, 30);
    background-color: hsla(160, 100%, 37%, 1);
  }
}
