.header {
    position: absolute;
  
    width: 100%;
    background-color: rgba(33, 33, 33, 0.96);
}

.open-container {
    display: flex;
    justify-content: flex-end; 
    background-color: transparent
}

.open {
    position: absolute;
    padding: 1rem;

    top: 1rem;
    right: 1rem;

    color: white;
    background-color: transparent;
    
    font-size: 2rem;

    /* border: 3px solid white;
    border-radius: 1.5rem */
}

.close {
    top: 1em;
    right: 1.5em;
    font-size: 1.5em;
}

.icon-logo {
    background-image: url('../images/camera-svgrepo-com.svg');
    width: 30px;
    height: 30px;
    /* background-size: cover;
    background-position: center;
    display:inline-block; */
}

.main-menu {
    margin: 6rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.menu-item {
    font-size: 2rem;
    font-weight: 900;
    font-family: var(--font-family-large-h);
    text-transform: uppercase;
}

.menu-item:hover {
    color: rgba(255, 255, 255, 0.6)
}

.social-menu {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    /* border: 2px solid blue; */
}

/*
**************
**************
**************

D E S K T O P

**************
**************
**************
*/

@media (min-width: 769px) {
    .header {
        background-color: rgba(33, 33, 33, 0.33);
    }
    nav {
        background-color: transparent;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 2rem;
        /* border: 2px solid red; */
    }
    
    .main-menu {
        width: 1000px;
        margin: 1.2rem 0;

        flex-direction: row;
        justify-content: flex-end;

    }
    
    .menu__links {
        margin: 0 auto;
        display: flex;
        justify-content: end;
        gap: 3rem;
        /* border: 2px solid coral; */
    }

    .menu-item {
        font-size: 1.2rem;
    }
}